@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('../images/mainbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Tilt Warp', cursive;
}

.maintit {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.maintit h1 {
    font-size: 10vh;
}